/**
* @file: highslide.css 
* @version: 5.0.0
*/
.highslide {
	outline: none;
}

.highslide-wrapper {
	color: #333;
}

.highslide-wrapper a {
	color: #3B5998;
	text-decoration: none;
}

.highslide-wrapper a:hover {
	text-decoration: underline;
}

.highslide-image {
	cursor: url(graphics/zoomin.cur),pointer;
	outline: none;
}

.highslide-active-anchor img {
	visibility: hidden;
}

.highslide-wrapper {
	background: white;
}

.highslide-caption {
	display: none;
	border: 2px solid white;
	border-top: none;
	font-family: Verdana,Helvetica;
	font-size: 10px;
	padding: 5px;
	background-color: white;
}

.highslide-loading {
	display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	padding-left: 22px;
	background-image: url(graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}

a.highslide-credits,a.highslide-credits i {
	padding: 2px;
	color: silver;
	text-decoration: none;
	font-size: 10px;
}

a.highslide-credits:hover,a.highslide-credits:hover i {
	color: white;
	background-color: gray;
}

a.highslide-full-expand {
	background: url(graphics/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
}

.highslide-display-block {
	display: block;
}

.highslide-display-none {
	display: none;
}

.highslide-html {
	background-color: white;
}

.highslide-html-blur {
}

.highslide-html-content {
	position: absolute;
	display: none;
}

.highslide-loading {
	display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	border: 1px solid black;
	background-color: white;
	padding-left: 22px;
	background-image: url(graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}

a.highslide-credits,a.highslide-credits i {
	padding: 2px;
	color: silver;
	text-decoration: none;
	font-size: 10px;
}

a.highslide-credits:hover,a.highslide-credits:hover i {
	color: white;
	background-color: gray;
}

.highslide-wrapper {
	background-color: white;
}

.highslide-wrapper .highslide-html-content {
	width: 300px;
	padding: 5px;
}

.highslide-wrapper .highslide-header div {
}

.highslide-wrapper .highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}

.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}

.highslide-wrapper .highslide-header ul li.highslide-previous,.highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}

.highslide-wrapper .highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}

.highslide-wrapper .highslide-header a:hover {
	color: black;
}

.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}

.highslide-wrapper .highslide-footer {
	height: 11px;
}

.highslide-wrapper .highslide-footer .highslide-resize {
	float: right;
	height: 11px;
	width: 11px;
	background: url(graphics/resize.gif);
}

.highslide-wrapper .highslide-body {
}

.highslide-move {
	cursor: move;
}

.highslide-resize {
	cursor: nw-resize;
}

.highslide-display-block {
	display: block;
}

.highslide-display-none {
	display: none;
}

.highslide-number {
	color: gray;
	font-size: 12px;
	margin-bottom: 3px;
}

.highslide-container div {
	font-family: "\5FAE\8F6F\96C5\9ED1",Verdana,Helvetica;
}

.highslide {
	outline: none;
}

.highslide-wrapper {
	color: #333;
	background: #FFF;
	background-color: #FFF;
}

.highslide-wrapper a {
	color: #3B5998;
	text-decoration: none;
}

.highslide-wrapper a:hover {
	text-decoration: underline;
}

.highslide-image {
	cursor: url(graphics/zoomin.cur),pointer;
	outline: none;
}

.highslide-active-anchor img {
	visibility: hidden;
}

.highslide-caption {
	display: none;
	border: 2px solid #FFF;
	border-top: none;
	font-size: 14px;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
}

.highslide-loading {
	display: block;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	border: 1px solid #000;
	background-color: #FFF;
	background-image: url(graphics/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
	padding: 2px 2px 2px 22px;
}

a.highslide-credits,a.highslide-credits i {
	color: silver;
	text-decoration: none;
	font-size: 10px;
	padding: 2px;
}

a.highslide-credits:hover,a.highslide-credits:hover i {
	color: #FFF;
	background-color: gray;
}

a.highslide-full-expand {
	background: url(graphics/fullexpand.gif) no-repeat;
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 10px 10px 0;
}

.highslide-display-block {
	display: block;
}

.highslide-html {
	background-color: #FFF;
}

.highslide-html-content {
	position: absolute;
	display: none;
}

.highslide-wrapper .highslide-html-content {
	width: 300px;
	padding: 5px;
}

.highslide-wrapper .highslide-header ul {
	text-align: right;
	margin: 0;
	padding: 0;
}

.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}

.highslide-wrapper .highslide-header a {
	font-weight: 700;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}

.highslide-wrapper .highslide-header a:hover {
	color: #000;
}

.highslide-wrapper .highslide-footer {
	height: 11px;
}

.highslide-wrapper .highslide-footer .highslide-resize {
	float: right;
	height: 11px;
	width: 11px;
	background: url(graphics/resize.gif);
}

.highslide-resize {
	cursor: nw-resize;
}

.highslide-display-none,.highslide-wrapper .highslide-header ul li.highslide-previous,.highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}

.highslide-wrapper .highslide-header .highslide-move a,.highslide-move {
	cursor: move;
}

.highslide-controls {
	width: 195px;
	height: 40px;
	background: url(graphics/controlbar-white.gif) 0 -90px no-repeat;
	margin: 20px 15px 10px 0;
}

.highslide-controls ul {
	position: relative;
	left: 15px;
	height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(graphics/controlbar-white.gif) right -90px no-repeat;
}

.highslide-controls li {
	float: left;
	padding: 5px 0;
	margin: 0;
	list-style: none;
}

.highslide-controls a {
	background-image: url(graphics/controlbar-white.gif);
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	outline: none;
}

.highslide-controls a.disabled {
	cursor: default;
}

.highslide-controls a.disabled span {
	cursor: default;
}

.highslide-controls a span {
	display: none;
	cursor: pointer;
}

.highslide-controls .highslide-previous a {
	background-position: 0 0;
}

.highslide-controls .highslide-previous a:hover {
	background-position: 0 -30px;
}

.highslide-controls .highslide-previous a.disabled {
	background-position: 0 -60px !important;
}

.highslide-controls .highslide-play a {
	background-position: -30px 0;
}

.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}

.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}

.highslide-controls .highslide-pause a {
	background-position: -60px 0;
}

.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}

.highslide-controls .highslide-next a {
	background-position: -90px 0;
}

.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}

.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}

.highslide-controls .highslide-move a {
	background-position: -120px 0;
}

.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}

.highslide-controls .highslide-full-expand a {
	background-position: -150px 0;
}

.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px;
}

.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important;
}

.highslide-controls .highslide-close a {
	background-position: -180px 0;
}

.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}

.highslide-dimming {
	background: #000;
}