<div class="links tab-pane nav bs-sidenav fade" id="sidebar-links">
    <% theme.links.forEach(function (item) { %>
    <li>
        <a href="<%= item.link %>" target="_blank"><%= item.name %></a>
    </li>
    <% }) %>
</div>