<aside id="sidebar-rand_posts">
    <div class="panel panel-gal recent hidden-xs" data-aos="fade-up" data-aos-duration="2000">
        <div class="panel-heading">
            <i class="fa fa-refresh"></i>
            随机文章
            <i class="fa fa-times-circle panel-remove"></i>
            <i class="fa fa-chevron-circle-up panel-toggle"></i>
        </div>
        <ul class="list-group list-group-flush">
            <%
               var randResults = []
               var randCount
               if(site.posts.length >= 10) {
               	randCount = 10
               } else {
               	randCount = site.posts.length
               }
               for(let i = 0; i < randCount; i++) {
               	let randNum = Math.floor(Math.random() * site.posts.length)
                while(randResults.indexOf(randNum) !== -1) {
               		randNum = Math.floor(Math.random() * site.posts.length)
                }
               	randResults.push(randNum)
               }
            %>
            <% site.posts.filter(function(e, i) { return randResults.indexOf(i) !== -1 }).forEach(function (post) { %>
            <li class="list-group-item">
                <span class="post-title">
                    <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                </span>
            </li>
            <% }) %>
        </ul>
    </div>
</aside>