@import "../../libs/font-awesome/font-awesome";
@import "variables";
@import "mixin";

::selection{
  background: $red;
  color: white;
}

html, body {
  min-height: 100%;
}

body {
  font-family: $body-font;
  font-size: $body-font-sz;
  color: $body-color;
  // background-color: #000;
  cursor: url(../imgs/mouse1.cur), url(../imgs/mouse1.cur), auto;
  word-wrap: break-word;
  // TODO 待修改body样式(目前要测其他组件样式)
  background:  0% 0% / cover no-repeat fixed rgb(0, 0, 0);
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $scrollbar-bg-color;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: $scrollbar-box-shadow;
  border-radius: 10px;
  background-color: $scrollbar-track-bg-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: $scrollbar-box-shadow;
  background-color: $scrollbar-thumb-bg-color;
}

a {
  cursor: url(../imgs/mouse2.cur), url(../imgs/mouse2.cur), auto;
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  border-radius: 4px;
  vertical-align: middle;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

ul {
  list-style-type: none;
}

.navbar {
  z-index: 1000;
  border: 0;
  margin-bottom: 0;
  @media (min-width: 768px) {
    border-radius: 0;
  }
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
  @media(min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.dropdown-menu {
  background-color: $dropdown-menu-bg-color;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
  font-weight: normal;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: $link-hover-bg-color;
  text-decoration: none;
  transition: all 0.3s ease;
}

.well {
  margin-bottom: 30px;
  border: 0;
}

.breadcrumb {
  background-color: $breadcrumb-bg-color;
}

.breadcrumb-gal {
  background-color: $search-breadcrumb-bg-color;
  @include gal-box-shadow($search-breadcrumb-box-shadow);
  margin-bottom: 40px;
}

.panel {
  border-radius: 4px;
  background-color: $sidebar-panel-bg-color;
  @include gal-box-shadow($sidebar-panel-box-shadow);
  border: none;
  &:hover {
    @include gal-box-shadow($sidebar-panel-hover-box-shadow);
  }
}

.panel2 {
  background-color: $sidebar-panel-bg-color;
}

.panel-heading {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  border-bottom: none;
}

.list-group-item {
  background-color: $list-group-item-bg-color;
  transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out,box-shadow .5s ease-in-out;
  &:hover {
    background-color: $list-group-item-hover-bg-color;
    @include gal-box-shadow($list-group-item-hover-box-shadow);
  }
}

.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-gal {
  background-color: $tag-bg-color;
  margin-right: 5px;
  font-size: 90%;
  > a {
    color: #fff;
  }
  &:hover {
    background-color: $link-hover-bg-color;
    @include gal-transition($duration:0.3s);
    > a {
      text-decoration: none;
    }
  }
}

.alert-gal {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: auto;
  color: $alert-color;
  background-color: $alert-bg-color;
}

.close {
  font-size: 14px;
  font-weight: bold;
  color: $black2;
  opacity: 1;
  &:hover, &:focus {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    @include gal-transition($duration: .25s);
    opacity: 1;
  }
}

button.close {
  background: transparent;
}

.btn {
  font-size: 12px;
}

.form-control {
  vertical-align: middle;
  border-color: $search-input-bd-color;
  outline: 0;
  -webkit-box-shadow: $search-input-box-shadow;
  -moz-box-shadow: $search-input-box-shadow;
  box-shadow: $search-input-box-shadow;
  &:focus {
    border-color: $search-input-bd-color;
  }
}

// issue 公告
#gal-issue {
  background-color: $issue-bg-color;
  @include gal-box-shadow($box-shadow);
  @include gal-transition($property:background-color, $duration:0.3s, $timing-function:ease);
  &:hover {
    background-color: $issue-hover-bg-color;
    @include gal-box-shadow($hover-box-shadow);
  }
}

// aos设置

@media (min-width: 768px) {
  [aos^=flip] {
    @include gal-backface-visibility(hidden);
  }
  [aos=flip-up] {
    @include gal-transform(perspective(2500px) rotateX(-100deg));
  }
  [aos=flip-up].aos-animate {
    @include gal-transform(perspective(2500px) rotateX(0));
  }
  [aos][aos][aos-easing=ease-out-back], body[aos-easing=ease-out-back] [aos] {
    -webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
  }
  [aos][aos][aos-duration='1000'], body[aos-duration='1000'] [aos] {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
  }

  [aos="fade-up"] {
    @include gal-transform(translate(0px, 100px));
  }
  [aos^="fade"][aos^="fade"] {
    opacity: 0;
    transition-property: all;
  }
  [aos="fade-up"].aos-animate {
    @include gal-transform(translate(0px, 0px));
  }
  [aos][aos][aos-easing="ease-out-back"], body[aos-easing="ease-out-back"] [aos] {
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  [aos][aos][aos-duration="2000"], body[aos-duration="2000"] [aos] {
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
  }
  [aos^="fade"][aos^="fade"].aos-animate {
    opacity: 1;
  }
  [data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: all;
    -webkit-transition-property: all;
  }

  // filp-right
  [aos][aos][aos-duration='3000'], body[aos-duration='3000'] [aos] {
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
  }
  [aos=flip-right] {
    @include gal-transform(perspective(2500px) rotateY(100deg));
  }
  [aos=flip-right].aos-animate {
    @include gal-transform(perspective(2500px) rotateY(0));
  }
  [data-aos^="flip-right"][data-aos^="flip-right"] {
    transition-property: all;
    -webkit-transition-property: all;
  }
}

// gal-body
#gal-body {
  padding: 30px 0;
  @media (max-width: 767px) {
    font-size: 12px !important;
  }
}


// gotop
#gal-gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: $goTop-bg-color;
  top: auto;
  display: none;
  z-index: 999;
  color: white;
  border-radius: 50%;
  border: 2px solid #fff;
  border-image: initial;
  cursor: url(../imgs/mouse2.cur), url(../imgs/mouse2.cur), auto;
  &:hover {
    color: $goTop-hover-color;
    border-color: $goTop-hover-bd-color;
    transition: all 0.3s ease;
  }
  > i {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    display: block;
  }
}

// footer

#gal-footer {
  display: block;
  text-align: center;
  color: $footer-color;
  padding: 50px;
  a {
    color: $footer-color;
  }
  a:hover {
    color: $footer-link-color;
    text-decoration: none;
  }
}

// image

.gal-image-container {
  text-align: center;
}

.gal-image {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include gal-transition($property: transform, $duration: .2s, $timing-function: ease-out);
  @include gal-transform(scale(1) rotate(0deg));
  z-index: 999;
  &:hover {
    @include gal-transform(scale(1.5) rotate(1deg));
  }
}

// oni

.gal-menu {
  display: none;
  position: fixed;
  font-size: 14px;
  z-index: 1000002;
  margin: 0;
  padding: 0;
  .circle {
    margin: 0 auto;
  }
  .circle, .ring {
    height: 300px;
    position: relative;
    width: 300px;
  }
  .ring {
    opacity: 0;
    -webkit-transform-origin: 50% 50% 0px;
    -moz-transform-origin: 50% 50% 0px;
    -ms-transform-origin: 50% 50% 0px;
    -o-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px;
    border-radius: 50%;
    @include gal-transition($duration: 0.4s, $timing-function: ease-out);
    @include gal-transform(scale(0.1) rotate(-270deg));
  }
  .open .ring {
    opacity: 1;
    @include gal-transform(scale(1) rotate(0deg));
  }
  .menuItem {
    color: rgb(238, 238, 238);
    display: block;
    height: 80px;
    line-height: 80px;
    margin-left: -41px;
    margin-top: -41px;
    position: absolute;
    text-align: center;
    width: 80px;
    background-size: 80px;
    @include gal-box-shadow(rgb(255, 255, 255) 0px 0px 15px);
    border: 2px solid rgb(181, 148, 148);
    border-radius: 50%;
    border-image: initial;
    &:hover {
      @include gal-box-shadow(rgb(255, 255, 255) 0px 0px 80px inset);
    }
  }
  .ring a {
    display: inline-block;
    color: #fff;
    text-shadow: rgb(220, 150, 90) 1px 0px 0px, rgb(220, 150, 90) 0px 1px 0px, rgb(220, 150, 90) -1px 0px 0px, rgb(220, 150, 90) 0px -1px 0px;
    &:hover {
      text-shadow: rgb(102, 204, 255) 1px 0px 0px, rgb(102, 204, 255) 0px 1px 0px, rgb(102, 204, 255) -1px 0px 0px, rgb(102, 204, 255) 0px -1px 0px;
    }
  }

  .ring a:nth-of-type(1) {
    background-image: url(../imgs/oni/oni1.jpg);
  }
  .ring a:nth-of-type(2) {
    background-image: url(../imgs/oni/oni2.jpg);
  }
  .ring a:nth-of-type(3) {
    background-image: url(../imgs/oni/oni3.jpg);
  }
  .ring a:nth-of-type(4) {
    background-image: url(../imgs/oni/oni4.jpg);
  }
  .ring a:nth-of-type(5) {
    background-image: url(../imgs/oni/oni5.jpg);
  }
  .ring a:nth-of-type(6) {
    background-image: url(../imgs/oni/oni6.jpg);
  }
}

// markdown

.content-article {

  text-align: justify;

  blockquote {
    border-color: rgb(0, 191, 255);
    background-color: rgba(255, 255, 255, 0.51);
  }

  code {
    word-break: break-all;
    font-size: 10px;
  }

  .highlight {
    overflow: auto;
    padding: 0;
    border-radius: 4px;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 13px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      // width: 6px;
      // height: 10px;
      background-color: $gray2;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $gray2;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $gray2;
    }

    table {
      width: 100%;
      pre {
        border: 0;
        border-radius: 0;
        line-height: 1.6;
        font-size: 13px;
      }
    }
  }

  ul, ol {
    border-left: 5px solid #eeeeee;
    border-color: rgb(0, 191, 255);
    background-color: rgba(255, 255, 255, 0.51);
    padding: 20px 20px 10px 40px;
    margin: 0 0 20px;
  }

  ul {
    padding-left: 30px;
  }

  ul li, ol li {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0 0 10px;
  }

  p {
    font-size: 14px;
    margin: 0 0 20px 0;
  }

  p > a > img {
    display: block!important;
  }

  blockquote p {
    font-size: 12pt;
    COLOR: #3399CC;
    font-weight: 300;
    line-height: 1.25;
  }
  h2, h3, h4, h5, h6 {
    margin: 20px 0 15px;
    padding-top: 10px;
  }
  h3 {
    font-size: 18px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5;
    // font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  }
}

@import "highlight";
