<% if (config.author) { %>
© 2017 <%= config.author %>
<% } else { %>
© 2017
<% } %>
<br>
Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI" target="_blank">AONOSORA</a>