<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    这里是公告内容
    <br>
    配置相关说明请看<strong>_config.yml</strong>
    <!-- 自行配置公告内容结束 -->
</div>